/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2018, 22:18:56
    Author     : Hilton
*/

.container{
    display: table;
    float: right;
    width: calc(85% - 9px);
    margin-right: 5px;
    margin-left: 4px;
    margin-top: 5px;
    background-color: white;

}

.texto{
    text-align: justify;
}
.border{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

/*---noticias---*/
.titulo{
    display: table;
    float: left;

}
#negrito{
    font-weight: bold;
    font-size: 25px;
}
.data{
    display: table;
    float: right;

}
#noticia{
    margin-top: 35px;
    margin-bottom: 35px;
}
#ImgPublic{
    margin-top: 40px;
}
/*----------------------------------------------*/
/*----formulario----*/
.formContato, #nome, #email, #assunto, #mensagem, #enviar{
  padding: 0.8em;
}
.formContato #nome, #email{
    width: 50%;
}

.formContato #assunto{
    width: 25%;
}

.formContato #mensagem{
    width: 100%;
}

@media(max-width: 500px){

    .container{
        width: 100%;
        float: none;
        margin-right: 0px;
        margin-left: 0px;
        float: none;

    }
    .border{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 3%;
        width: 100%;
    }
    .texto{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0%;

    }
    /*----noticias----*/
    .titulo, .data{
        float: none;
        word-break: break-all;

    }
    #ImgPublic{
        margin-top: 15px;
    }
    #negrito, #data, #noticia{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }

    /*----formulario----*/
    .formContato #nome, #email{
        width: 90%;
    }

    .formContato #assunto{
        width: 70%;
    }

    .formContato #mensagem{
        width: 90%;
    }
    .formContato{
        margin-left: 2%;
    }
    
    .integrante #nome, #curso, #funcao, #acervo, #anoIngresso{
        margin-left: 10px;
    }

}

