/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/11/2018, 12:23:26
    Author     : Hilton
*/



#btn-menu{
    display: none;
}

.menu-left-float{
    display: table;
    float: left;
    width: 15%;
}
header{
    background-color: bisque;
    margin-left: 5px;
    padding-bottom: 15%; 
}

header label{
    font-size: 15px;
    display: block;
    width: 108.0px;
    padding-right: 0px;
    padding-left: 0px;
    display: none;
}

header label:hover{
    background-color: orange;
}

.menuResponse ul{
    list-style: none;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: flex-start;
    transition: all .5s;
    padding-bottom: 100%;

}

ul li{
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 2%
}


ul li a:hover{
    color: black;
}

@media(max-width: 700px){
    .menuResponse ul{

        list-style: none;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-left: 0px;
        justify-content: flex-start;
        transition: all .5s;
    }
}

@media(max-width: 500px){
    body{
        width: 100%;
        
    }
    .menu-left-float{
        float: none;
        width: 100%;
    }
    
    .menu,.menutop, header, .logoCDZ{
        margin: 0%;
        padding: 0%;
        margin-bottom: 0%;
    }
    .logoCDZ{
        margin-top: 0px;
        width: 100%;
        height: 60%;
    }

    .linktop{
        padding-bottom: 1px;
        font-size: 10px;
    }

    header{
        width: 0%;
        
    }
    header label{
        display: block;
        background-color: bisque;

    }
    .menuResponse ul{
        position: absolute;
        width: 108.2px;
        flex-direction: column;
        padding-top: 0px;
        padding-left: 0px;
        margin-left: -108.2px;
        background-color: black;
        padding-bottom: 0%;
    }

    .menuResponse li a{
        color: white;  

    }
    .menuResponse li a:hover{
        background-color: orange;
    }
    #btn-menu:checked ~ .menuResponse ul{
        margin-left: 0;
    }
}