/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2018, 11:33:28
    Author     : Hilton
*/

.rede{
    width: 15px;
    height: 15px;
    float: right;
    transition: all 0.4s ease-out;
    border-radius: 50%;
   

}


.rede:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 4px 8px 8px 2px rgba(50, 50, 50, 0.45)
}
.rede#facebook{
    margin-right: 10px;
    margin-left: 10px;
}
.icone{
    margin: -3px -4px -5px -1px;
    padding: auto;

}
@media(max-width: 500px){
    .rede:hover{

        transform: none;
        box-shadow: none;
    }
    .rede#facebook{
        margin-left: 10px;
    }
}