
/* 
    Created on : 30/10/2018, 23:31:58
    Author     : Hilton
*/
*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    background-color: chocolate;
    
}

a{
    text-decoration: none;
}

.menu{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 11px;
    background-color: antiquewhite;
    margin-bottom: 0%;

}
.linktop{
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 11px;
    
}

.linktop:hover{
    color: white;
    background-color: brown;
   
}

.logoCDZ{
    margin-left: 5px;
}

/*
footer
*/
footer{

    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
    display: table;
    float: bottom;
    background-color: #97a8b7;
}
.footer{
    display: inline-table;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    
}
.imgfooter{
    padding-left: 4%;
    margin-top: 2%;
    display: table;
    float: left;
}
footer p{
    margin-left: 5px;
    font-family: arial;
    font-size: 13px;
}
.navegador{
    display: flex;
    padding-left: 20%;
}
.apoio{
    display: table; 
    float: left;
}

/*------------login------------*/

.login-form{
    width: 40%;
    background-color: whitesmoke;
    text-align: left;
}
#email1, #senha1{
    width: 90%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid grey;
    border-radius: 3px;
}
.login-form, #enviar1{
    padding: 1em;
}
#enviar1{
    font-size: 1em;
    border: none;
    color: white;
    font-size: 1em;
    background-color: #747c81;
    width: 50%;
    border-radius: 3px;
}

@media(max-width: 500px){
    footer{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
      
    }
    .navegador, .imgfooter, .footer{
        display: block;
        float: none;
        padding-left: 1%;
        word-break: break-all;
    }
    .apoio{
        display: block;
        float: none;
    }
    .end p{
        font-size: 10px;
    }
    
    /*----Login----*/
    .login-form{
        width: 70%;
    }
    #email1, #senha1{
        width: 87%;
    }
}
/*----------------------------------------*/
